In [1]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *
import datetime
import create_tables_kc
import etl
import test_kc
from psycopg2.extensions import AsIs

In [2]:
table_names = ["songs","artists","users","date_time","songplays"]

In [3]:
cur,conn = create_tables_kc.create_database()
create_tables_kc.drop_tables(cur,conn)
create_tables_kc.create_tables(cur,conn)

connection created

Dropping Tables
Table dropped: DROP TABLE IF EXISTS songplays
Dropping Tables
Table dropped: DROP TABLE IF EXISTS  users
Dropping Tables
Table dropped: DROP TABLE IF EXISTS songs
Dropping Tables
Table dropped: DROP TABLE IF EXISTS artists
Dropping Tables
Table dropped: DROP TABLE IF EXISTS date_time
all tables are created

In [4]:
#conn.close()

In [5]:
etl.main()

71 files found in /Users/koray/Documents/Udacity_DE/project-template/data/song_data
71/71 files processed.
30 files found in /Users/koray/Documents/Udacity_DE/project-template/data/log_data
30/30 files processed.

In [6]:
for i in table_names:
    df = test_kc.test_table(cur,conn,i)
    print(df.head(),'\n',df.info(),"n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   song_id    71 non-null     object
 1   title      71 non-null     object
 2   artist_id  71 non-null     object
 3   year       71 non-null     int64
 4   duration   71 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 2.9+ KB
              song_id            title           artist_id  year   duration
0  SONHOTT12A8C13493C  Something Girls  AR7G5I41187FB4CE6C  1982  233.40363
1  SOIAZJW12AB01853F1       Pink World  AR8ZCNI1187B9A069B  1984  269.81833
2  SOFSOCN12A8C143F5D   Face the Ashes  ARXR32B1187FB57099  2007  209.60608
3  SOHKNRJ12A6701D1F8     Drop of Rain  AR10USD1187B99F3F1     0  189.57016
4  SOQHXMF12AB0182363  Young Boy Blues  ARGSJW91187B9B1D6B     0  218.77505
 None n
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   artist_id    69 non-null     object
 1   artist_name  69 non-null     object
 2   location     69 non-null     object
 3   latitude     31 non-null     float64
 4   longitude    31 non-null     float64
dtypes: float64(2), object(3)
memory usage: 2.8+ KB
            artist_id            artist_name                     location  \
0  AR7G5I41187FB4CE6C               Adam Ant              London, England
1  AR8ZCNI1187B9A069B       Planet P Project
2  ARXR32B1187FB57099                    Gob
3  AR10USD1187B99F3F1  Tweeterfriendly Music  Burlington, Ontario, Canada
4  ARGSJW91187B9B1D6B           JennyAnyKind               North Carolina

   latitude  longitude
0       NaN        NaN
1       NaN        NaN
2       NaN        NaN
3       NaN        NaN
4  35.21962  -80.01955
 None n
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     96 non-null     int64
 1   first_name  96 non-null     object
 2   last_name   96 non-null     object
 3   gender      96 non-null     object
 4   level       96 non-null     object
dtypes: int64(1), object(4)
memory usage: 3.9+ KB
   user_id first_name  last_name gender level
0       75     Joseph  Gutierrez      M  free
1       44     Aleena      Kirby      F  paid
2        6    Cecilia      Owens      F  free
3       90     Andrea     Butler      F  free
4       92      Ryann      Smith      F  free
 None n
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6820 entries, 0 to 6819
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   start_time  6820 non-null   datetime64[ns]
 1   hour        6820 non-null   int64
 2   day         6820 non-null   int64
 3   week        6820 non-null   int64
 4   month       6820 non-null   int64
 5   year        6820 non-null   int64
 6   weekday     6820 non-null   int64
dtypes: datetime64[ns](1), int64(6)
memory usage: 373.1 KB
               start_time  hour  day  week  month  year  weekday
0 2018-11-11 02:33:56.796     2   11    45     11  2018        6
1 2018-11-11 02:36:10.796     2   11    45     11  2018        6
2 2018-11-11 02:40:34.796     2   11    45     11  2018        6
3 2018-11-11 04:36:13.796     4   11    45     11  2018        6
4 2018-11-11 04:36:46.796     4   11    45     11  2018        6
 None n
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6820 entries, 0 to 6819
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   songplay_id  6820 non-null   int64
 1   start_time   6820 non-null   datetime64[ns]
 2   user_id      6820 non-null   int64
 3   level        6820 non-null   object
 4   song_id      0 non-null      object
 5   artist_id    0 non-null      object
 6   session_id   6820 non-null   object
 7   location     6820 non-null   object
 8   user_agent   6820 non-null   object
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 479.7+ KB
   songplay_id              start_time  user_id level song_id artist_id  \
0            1 2018-11-11 02:33:56.796       69  free    None      None
1            2 2018-11-11 02:36:10.796       69  free    None      None
2            3 2018-11-11 02:40:34.796       69  free    None      None
3            4 2018-11-11 04:36:13.796       32  free    None      None
4            5 2018-11-11 04:36:46.796       75  free    None      None

  session_id                                     location  \
0        455  Philadelphia-Camden-Wilmington, PA-NJ-DE-MD
1        455  Philadelphia-Camden-Wilmington, PA-NJ-DE-MD
2        455  Philadelphia-Camden-Wilmington, PA-NJ-DE-MD
3        456        New York-Newark-Jersey City, NY-NJ-PA
4        284                                 Columbia, SC

                                          user_agent
0  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...
1  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...
2  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...
3  "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...
4  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3...
 None n

In [11]:
#Just another way to test the results
cur.execute("select * from %s" % table_names[0])
conn.commit()
records = pd.DataFrame(cur.fetchall())
records

,0,1,2,3,4
0,SONHOTT12A8C13493C,Something Girls,AR7G5I41187FB4CE6C,1982,233.40363
1,SOIAZJW12AB01853F1,Pink World,AR8ZCNI1187B9A069B,1984,269.81833
2,SOFSOCN12A8C143F5D,Face the Ashes,ARXR32B1187FB57099,2007,209.60608
3,SOHKNRJ12A6701D1F8,Drop of Rain,AR10USD1187B99F3F1,0,189.57016
4,SOQHXMF12AB0182363,Young Boy Blues,ARGSJW91187B9B1D6B,0,218.77505
...,...,...,...,...,...
66,SOLEYHO12AB0188A85,Got My Mojo Workin,ARAGB2O1187FB3A161,0,338.23303
67,SOGVQGJ12AB017F169,Ten Tonne,AR62SOJ1187FB47BB5,2005,337.68445
68,SOFFKZS12AB017F194,A Higher Place (Album Version),ARBEBBY1187B9B43DB,1994,236.17260
69,SOFNOQK12AB01840FC,Kutt Free (DJ Volume Remix),ARNNKDK1187B98BBD5,0,407.37915
70,SOQOTLQ12AB01868D0,Clementina Santafè,ARGCY1Y1187B9A4FA5,0,153.33832

In [8]:
conn.close()